<form>
  <label for="isbnOnly">ISBN</label>:
  <input #isbnOnly type="text" id="isbnOnly" name="isbnOnly" required />
  <label for="stockOnly">Stock</label>:
  <input #stockOnly type="text" id="stockOnly" name="stockOnly" required />
  <label for="formatOnly">Format</label>:
  <input #formatOnly type="text" id="formatOnly" name="formatOnly" required />
  <label for="langueOnly">Langue</label>:
  <input #langueOnly type="text" id="langueOnly" name="langueOnly" required />
  <label for="couvertureOnly">Couverture</label>:
  <input
    #couvertureOnly
    type="text"
    id="couvertureOnly"
    name="couvertureOnly"
  />
  <button
    type="button"
    (click)="
      newBookISBN(
        isbnOnly.value,
        formatOnly.value,
        stockOnly.value,
        langueOnly.value,
        couvertureOnly.value
      )
    "
  >
    Submit
  </button>
</form>
