.addbook_wrapper {
    background: url("../../../assets/bglogin.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .content {
      margin-top: 4.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
      form {
        z-index: 100;
        width: 17rem;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
  
        input,
        select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #E8F0FE;
          border-radius: 4px;
          box-sizing: border-box;
        }
  
        button {
          width: 100%;
          background-color: rgba(217, 74, 96, 1);
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: 1px solid white;
          border-radius: 4px;
          cursor: pointer;
        }
  
        button:hover {
          color: rgba(217, 74, 96, 1);
          background-color: white;
          border: 1px solid rgba(217, 74, 96, 1);
        }
      }
  
      form> * {
          width: 17rem;
      }
    }
    #girl {
        position: absolute;
        z-index: 100;
        width: 6rem;
        height: auto;
        margin: -10.4rem 0 0 6rem;
      }
  }

  @media only screen and (max-width: 600px) {
    .addbook_wrapper {
      .content {
          margin-right: 10rem;
      }

      #girl {
        margin: -10.4rem 0 0 0;
      }

  }
}