<div class="user_wrapper">
  <div class="content">
    <img id="books" src="../../../assets/books.svg" />
    <div class="span">
      <span>Welcome </span>
      <span class="user"
        ><i>{{ this.user }}</i></span
      >
    </div>
    <div class="emprunts">
      <h1>My Books</h1>
      <div id="mybooks" *ngFor="let emprunt of userEmprunt">
        <p>
          <b>{{ emprunt.book.title }}</b>
          <span
            ><i> ({{ emprunt.date_location }})</i></span
          >
        </p>
      </div>
    </div>
    <div class="critiques">
      <h1>My Reviews</h1>
      <div class="reviews" *ngFor="let avis of userCritique">
        <p>
          <b>{{ avis.title }}</b>
        </p>
        <p>« {{ avis.comment }} »</p>

        <p>👍 {{ avis.pertinent }} 👎 {{ avis.nonPertinent }}</p>
      </div>
    </div>
    <div class="avis">
      <h1>Reviews</h1>
      <div id='myavis' *ngFor="let critiques of userAvis">
        <p>
          <b>{{ critiques.critique.book.title }}</b> <br /><br />
          <i>« {{ critiques.critique.title }} »</i>
        </p>
      </div>
    </div>
    <img id="leave" src="../../../assets/leave.svg" />
  </div>
</div>
